/* creating a normality within the page */
* 
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
}
a:visited, a:link, a:active {
    color: black;
    text-decoration: none;
}
h2, h3 {
    font-weight: normal;
}
#main-window
{
    width: 100%;
    height: 100%;
}
hr {
    width: 100%;
}

/* styling section that holds everything */
main 
{
    background-color: #d5d2cd;
    width: 100%;
    height: 1500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#content-window {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

/* #region HEADER */
header 
{
    width: 100%;
    height: 5%;

    background-image: linear-gradient(to right, #080a89, #a4caf6);

    display: flex;
    align-self: center;
    align-items: center;
    justify-content: end;
}
.header-icon
{
    width: 70px;
    margin: 5px;
    image-rendering: pixelated;
}
.header-icon:hover 
{
    filter: brightness(0.75);
}
#icon-x { margin-right: 15px; }
/* #endregion HEADER */

/* styling for navigation that takes you back to home page */
#nav-head
{
    padding: 15px;
    font-size: 16px;
    height: 20px;
}

/* #region GAMES */
#game-section
{
    margin-top: 10%;
    width: 75%;

    display: flex;

    flex-direction: column;
}
#games-flex
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.game {
    height: 300px;
    width: 400px;
    border-radius: 4px;

    background-color: #eeeeee;

    display: flex;
    flex-direction: column;
    margin: 12px;
}
.game-img {
    width: 100%;
    height: 240px;
    image-rendering: pixelated;
    overflow: hidden;
    border-radius: inherit;
}
.game-title {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 18px;
}
/* #endregion GAMES */