/* #region GENERAL */
/* creating a normality within the page */
* 
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
}
body 
{ 
    background-color: black; 
    width: 100%;

    display: flex;
    
}
a:visited, a:link, a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h2, h3 {
    font-weight: normal;
}
#all-content {
    background-color: white;
    transition: 400ms;
}
#main-content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 100px; /* make room for fixed header */

   background-color: white;
}
/* #endregion GENERAL */

/* #region SIDEBAR */
#sidebar-menu {
    height: 100%;
    width: 0;
    font-size: 25px;
    border-radius: 10px;

    position: fixed;
    z-index: 1500;
    top: 0;
    right: 0;
    background-color: white;

    transition: 400ms;
}
#sidebar-menu-close-btn {
    transition: 400ms;

    border-radius: 10px;
    padding: 6px;
}
#sidebar-btn {
    width: 25%;
    height: 90%;
    right: 0;
    padding-bottom: 12px;
    font-size: 50px;
    margin:auto;
    margin-right: 10px;
    
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}
#sidebar-btn:visited, #sidebar-btn:link, #sidebar-btn:active, #sidebar-btn:hover {
    text-decoration: none;
    color: white;
} 
#link-container {
    margin-top: 50px;   
}
.sidebar-link
{   
    width: 100%;
    height: 50px;
    padding: 20px;
}
/* #endregion SIDEBAR */

/* #region HEADER */
header 
{
    width: 100%;
    height: 65px;

    z-index: 1000;
    
    box-shadow: 2px 8px 4px rgba(9, 12, 20, 0.05);
    background-image: linear-gradient(to right, #080a89, #a4caf6);
    font-size: 25px;
    color: white;

    display: flex;
    flex-direction: row;
}
#header-text
{
    width: 75%;
    padding: 20px;
    font-family: 'Press Start 2P', system-ui;
    text-shadow: -2.5px 2.5px #d9d9d9;
    left: 0;
}
/* #endregion HEADER */

/* #region FIRST-SECTION */
/* creates a gray background for the first section of the home page */
#home-container 
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
/* the flex container that holds the actual content */
#desktop-flex 
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: fit-content;
}
/* #region NAVIGATION */
/* #endregion Navigation */

/* #region FAKE-DESKTOP */
#desktop
{
    margin: 6px;
    max-width: 1813px;
    max-height: 1155px;
    height: 700px;
    
    background-image: url("../images/Clouds_Art.png");
    background-repeat: no-repeat;
    border: 4px, solid, #d9d9d9;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling for the fake desktop windows */
.window 
{
    position: absolute;
    min-width: none;
    overflow: hidden;
}
.window-img
{
    width: 100%;
    image-rendering: pixelated;
}
#window1 
{
    margin-right: 10%;
    margin-bottom: 4%;

    z-index: 1;
}
#window2
{
    margin-top: 3%;
    margin-left: 5%;
    z-index: 0;
}

/* styling for the fake applications on the desktop */
#icons
{
    width: 100%;
    height: 100%;
    margin: 20px;
    z-index: 0;
    
    display: flex;
    justify-self: end;
    justify-content: end;
    align-items: flex-start;
}
#cd-icon
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.icon-text { font-size: 8.5px; }
.icon-img { width: 80px; }
/* #endregion FAKE-DESKTOP */
/* #endregion FIRST-SECTION */

/* #region MID-SECTION */
/* styling for the boxes section as a whole */
#gray-boxes
{
    width: 100%;
    height: 900px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* styling for what all boxes have in common */
.gray-box
{
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    border: lightgray, 1px, solid;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: normal;
}

/* styling for the favorites, links, and quote */
#link-box 
{
    width: 100%;
    margin-bottom: 40px;

    align-items: start;
    flex-direction: column;
}
#quote-box 
{ 
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;    
    line-height: 35px;
    font-size: 10px;
}
/* styling for the first two gray boxes */
#twin-gray-boxes
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex: 50%;

    height: 600px;
    margin-right: 50px;
    padding: 25px;
}

/* styling for the third box */
#pic-box
{
    height: 75%;
    height: 600px;

    flex: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    overflow-y: scroll ;
}
#pic-box::-webkit-scrollbar { display: none; }
.pic-column {
    width: 100%;
    flex: 45%;
    margin: 5px;
}
.pics { 
    width: 100%;
    border-radius: 3px;
    margin-top: 8px;
}
/* #endregion MID-SECTION */

/* #region FOOTER */
footer 
{
    color: white;
    
    width: 100%;
    height: 400px;
    background-color: black;

    display: flex;
    align-items: end;
    justify-content: left;
}
.footer-text 
{
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
}
/* #endregion FOOTER */

/* #region RELATIVITY */
/* For tablets and other medium sized devices */
@media screen and (max-width: 1023px) 
{
    a:visited, a:link, a:active {
    color: black;
    text-decoration: underline;
    }
    header {
        height: 50px;
        box-shadow: 2px 4px 2px #e4e4e4;
    }
    #header-text {
        font-size: 20px;
    }
    #desktop-flex {
        flex-direction: column;
        height: fit-content;
    }
    /* #endregion NAVIGATION */
    .window-img {
        visibility: hidden;
    }
    #twin-gray-boxes {
        flex-direction: column;
        height: 500px;
        margin: 30px;
    }
    #gray-boxes {
        height: fit-content;
        flex-direction: column;
    }
    #quote-box {
        height: 75px;
        line-height: normal;

        padding: 50px;
        margin-top: 0; 
    }
    #pic-box {
        margin-bottom: 50px;
    }
}


/* For phones and other small devices */
@media screen and (max-width: 700px) {
    
    #header-text {
        font-size: 16px;
        text-shadow: -2.5px 2px #d9d9d9;
    }
    #main-content {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
    
}
/* #endregion RELATIVITY */