/* #region GENERAL */
/* creating a normality within the page */
* 
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0;
}
body 
{ 
    background-color: black; 
    width: 100%;

    display: flex;
    
}
a:visited, a:link, a:active {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h2, h3 {
    font-weight: normal;
}
#all-content {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
/* #endregion GENERAL */

/* #region HEADER */
header 
{
    width: 100%;
    height: 65px;
    
    box-shadow: 2px 8px 4px #e4e4e4;
    background-image: linear-gradient(to right, #080a89, #a4caf6);
    font-size: 25px;
    color: white;
    text-shadow: -2.5px 2.5px #d9d9d9;
}
#header-text
{
    padding: 20px;
    font-family: 'Press Start 2P', system-ui;
}
/* #endregion HEADER */

/* #region FIRST-SECTION */
/* creates a gray background for the first section of the home page */
#home-container 
{
    width: 100%;
    background-color: white;
}
/* the flex container that holds the actual content */
#home-flex 
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: fit-content;
}
/* #region NAVIGATION */
nav 
{
    width: 15%;
    max-width: 175px;
    height: 100px;
}
#nav-container 
{
    display: flex;
    flex-direction: row;

    min-width: 90%;
    align-self: center;

    align-items: center;
    padding: 12px;
}
.navButton 
{   
    background-color: white;
    border-radius: 0.5em;
    padding: 0.4em;
    
    width: 90%;
    height: 50px;
    margin: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.navButton:hover 
{
    background-color: #e2e2e2;
    transition: 200ms;
}
/* #endregion Navigation */

/* #region FAKE-DESKTOP */
main
{
    margin: 6px;
    max-width: 1813px;
    max-height: 1155px;
    height: 700px;
    
    background-image: url("../images/Clouds_Art.png");
    background-repeat: no-repeat;
    border: 4px, solid, #d9d9d9;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling for the fake desktop windows */
.window 
{
    position: absolute;
    min-width: none;
    overflow: hidden;
}
.window-img
{
    width: 100%;
}
#window1 
{
    margin-right: 10%;
    margin-bottom: 4%;

    z-index: 1;
}

#window2
{
    margin-top: 3%;
    margin-left: 5%;
    z-index: 0;
}

/* styling for the fake applications on the desktop */
#icons
{
    width: 100%;
    height: 100%;
    margin: 20px;
    z-index: 0;
    
    display: flex;
    justify-self: end;
    justify-content: end;
    align-items: flex-start;
}
#cd-icon
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.icon-text { font-size: 8.5px; }
.icon-img { width: 80px; }
/* #endregion FAKE-DESKTOP */
/* #endregion FIRST-SECTION */

/* #region MID-SECTION */
/* styling for the gray boxes section as a whole */
#gray-boxes
{
    width: 100%;
    height: 1000px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* styling for what all boxes have in common */
.gray-box
{
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    border: lightgray, 1px, solid;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: normal;
}

/* styling for the favorites, links, and pictures */
#link-box 
{ 
    height: 100%;
    width: 100%;
    margin: 40px;

    align-items: start;
    flex-direction: column;
}
#pic-box
{
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}
.pics { margin: 1%; height: 50%; }

/* styling for the first two gray boxes */
#twin-gray-boxes
{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 300px;
    width: 75%;
    margin: 50px;
}

/* styling for the third gray box; quote */
#quote-box 
{ 
    width: 75%;
    height: 20%;
    background-color: white;
    border-radius: 15px;
    border: lightgray, 1px, solid;

    padding: 15px;
    margin-top: 50px; 

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;    
    line-height: 50px;
    font-size: 10px;
}
/* #endregion MID-SECTION */

/* #region FOOTER */
footer 
{
    color: white;
    
    width: 100%;
    height: 400px;
    background-color: black;
}
.footer-text 
{
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    padding-top: 300px;
}
/* #endregion FOOTER */

/* #region RELATIVITY */
/* For tablets and other medium sized devices */
@media screen and (max-width: 1023px) 
{
    a:visited, a:link, a:active {
    color: black;
    text-decoration: underline;
    }
    header {
        height: 50px;
        box-shadow: 2px 4px 2px #e4e4e4;
    }
    #header-text {
        font-size: 20px;
    }
    #home-flex {
        flex-direction: column;
        height: fit-content;
    }
    /* #region NAVIGATION */
    nav {
        height: 30px;
    }
    .navButton {
        height: 25px;
        width: 75px;
        font-size: 14px;
    }
    #nav-container {
        justify-content: center;
    }
    /* #endregion NAVIGATION */
    .window-img {
        visibility: hidden;
    }
    #twin-gray-boxes {
        flex-direction: column;
        height: 500px;
        margin: 30px;
    }
    #gray-boxes {
        height: fit-content;
    }
    #quote-box {
        height: 75px;
        line-height: normal;

        padding: 50px;
        margin: 40px;
        margin-top: 0; 
    }
}


/* For phones and other small devices */
@media screen and (max-width: 700px) {
    
    #header-text {
        font-size: 16px;
        text-shadow: -2.5px 2px #d9d9d9;
    }
    #all-content {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
}
/* #endregion RELATIVITY */