/* creating a normality within the page */
* 
{
    font-family: 'Press Start 2P', system-ui;
    margin: 0;
}
body 
{ 
    background-color: black; 
    width: 100%;
}

/* creates a gray background for the first section of the home page */
#home-container 
{
    width: 100%;
    background-color: #A6A6A6;
}


/* styling for the gradient header with title */
header 
{
    width: 100%;
    height: 80px;

    background-image: linear-gradient(to right, #080a89, #a4caf6);
    font-size: 25px;
    color: white;
    text-shadow: -2.5px 2.5px #d9d9d9;
}
#header-text
{
    padding: 20px;
}

/* the flex container that holds the actual content */
#home-flex 
{
    display: flex;
    width: 100%;
    height: 700px;
}

/* navigation */
nav 
{
    width: 15%;
    max-width: 250px;
    height: 100%;
}
#nav-container 
{
    display: flex;
    flex-direction: column;

    align-items: end;

    padding: 20px;
}
.navButton 
{   
    background-color: #d5d2cd;
    border: #b3b3b3, solid, 2px;
    object-fit: contain;
    
    width: 16em;
    height: 50px;
    margin: 10px;
    font-size: 0.6em;

    display: flex;
    align-items: center;
    justify-content: center;


}
.navButton:visited {
    color: black;
}
.navButton:hover 
{
    background-color: #b3b3b3;
    border-color: #d5d2cd;
    color: white;

    width: 100%;

    transition: 100ms;
}

/* styling for the main fake desktop section */
main
{
    margin: 6px;
    min-width: 80%;
    max-width: 1821px;
    max-height: 1155px;
    background-image: url("../images/Clouds_Art.png");
    background-repeat: no-repeat;
    border: 4px, solid, #d9d9d9;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling for the fake desktop windows */
.window 
{
    position: absolute;
    min-width: none;

}
.window-img
{
    width: 100%;
}
#window1 
{
    margin-right: 10%;
    margin-bottom: 8%;

    z-index: 1;
}
#window1:hover {
    .window-img {
        width: 110%;
    }
}

#window2
{
    margin-top: 3%;
    margin-left: 5%;
    z-index: 0;
}

/* styling for the fake applications on the desktop */
#icons
{
    width: 100%;
    height: 100%;
    margin: 20px;
    z-index: 0;
    
    display: flex;
    justify-self: end;
    justify-content: end;
    align-items: flex-start;
}
#cd-icon
{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.icon-text { font-size: 8.5px; }
.icon-img { width: 80px; }


/* styling for the gray boxes section as a whole */
#gray-boxes
{
    width: 100%;
    height: 1300px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* styling for what all boxes have in common */
.gray-box
{
    background-color: lightgray;
    border-radius: 15px;
    padding: 50px;
    

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 50px;
    font-size: 10px;
}

/* styling for the favorites, links, and pictures */
#link-box 
{ 
    height: 100%;
    width: 100%;
    margin: 40px;

    align-items: start;
    flex-direction: column;
}
#pic-box
{
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}
.pics { margin: 1%; height: 50%; }

/* styling for the first two gray boxes */
#twin-gray-boxes
{
    display: flex;
    align-items: center;

    height: 500px;
    width: 85%;
    margin: 50px;
}

/* styling for the third gray box; quote */
#quote-box 
{ 
    width: 85%;
    height: 20%;
    background-color: lightgray;
    border-radius: 15px;
    padding: 50px;
    margin: 50px;
    margin-top: 30px; 

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;    
    line-height: 50px;
    font-size: 10px;
}


/* styling for the footer which holds my phone number */
footer 
{
    color: white;
    
    width: 100%;
    height: 400px;
    background-color: black;
}
.footer-text 
{
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    padding-top: 300px;
}


/* For tablets and other medium sized devices */
@media screen and (max-width: 1023px) 
{

    #home-flex {
        flex-direction: column;
    }
    #nav-container {
        flex-direction: row;
        min-width: 90%;
        align-self: center;
        justify-content: center;

        align-items: center;
    }
    .navButton {
        width: 16em;
    }
    .navButton:hover {
        width: 20em;
    }
    nav {
        height: 75px;
        width: 100%;
    }
    main {
        height: 700px;
    }
    .window-img {
        width: 80%;
    }
    #window1 
    {
        margin-right: 0;
        margin-bottom: 8%;
    }
    #window1:hover {
        .window-img {
            width: 95%;
        }
    }
    #twin-gray-boxes {
        flex-direction: column;
        height: 1000px;
    }
    #gray-boxes {
        height: 1500px;
    }
    #link-box, #pic-box {
        width: 90%;
    }
    #quote-box {
        width: 75%;

        padding: 50px;
        margin: 50px;
        margin-top: 0; 

        font-size: 8px;
    }
}


/* For phones and other small devices */
@media screen and (max-width: 700px) {
    
    header {
        font-size: 20px;
    }
    #nav-container {
        width: 100%
    }
    .navButton {
        width: 12em;
    }
    #window1 {
        margin-left: 10%;
    }
    #link-box, #pic-box {
        width: 80%;
    }
    #quote-box {
        width: 60%;

        line-height: 25px;
        font-size: 6px;
    }
}